@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');


html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;

}

.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 66px; /*button ke size bade ho gye they top row wale toh usko barabar karne ke liye its imp*/
}

.row{
    margin: 8px 0;
}

.row input{
    font-size: 13px;
    margin: 0;
    padding: 6px 38px;
    border: 2px solid black;
    border-radius: 9px;

}